################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MovieFare/obj/Debug/net8.0/MovieFare.AssemblyInfo.cs
/MovieFare/obj/Debug/net8.0/MovieFare.AssemblyInfoInputs.cache
/MovieFare/obj/Debug/net8.0/MovieFare.assets.cache
/MovieFare/obj/Debug/net8.0/MovieFare.GeneratedMSBuildEditorConfig.editorconfig
/MovieFare/obj/Debug/net8.0/MovieFare.sourcelink.json
/MovieFare.Test/bin/Debug/net8.0/CoverletSourceRootsMapping_MovieFare.Test
/MovieFare.Test/obj/Debug/net8.0/MovieFare.Test.AssemblyInfo.cs
/MovieFare.Test/obj/Debug/net8.0/MovieFare.Test.AssemblyInfoInputs.cache
/MovieFare.Test/obj/Debug/net8.0/MovieFare.Test.assets.cache
/MovieFare.Test/obj/Debug/net8.0/MovieFare.Test.csproj.AssemblyReference.cache
/MovieFare.Test/obj/Debug/net8.0/MovieFare.Test.GeneratedMSBuildEditorConfig.editorconfig
/MovieFare.Test/obj/Debug/net8.0/MovieFare.Test.sourcelink.json
/MovieFare/bin/Debug/net8.0/MovieFare.dll
/MovieFare/bin/Debug/net8.0/MovieFare.exe
/MovieFare/bin/Debug/net8.0/MovieFare.pdb
/MovieFare.Test/bin/Debug/net8.0/MovieFare.dll
/MovieFare.Test/bin/Debug/net8.0/MovieFare.exe
/MovieFare.Test/bin/Debug/net8.0/MovieFare.pdb
/MovieFare.Test/bin/Debug/net8.0/MovieFare.Test.dll
/MovieFare.Test/bin/Debug/net8.0/MovieFare.Test.pdb
/MovieFare.Test/obj/Debug/net8.0/MovieFare.Test.csproj.CoreCompileInputs.cache
/MovieFare.Test/obj/Debug/net8.0/MovieFare.Test.csproj.FileListAbsolute.txt
/MovieFare.Test/obj/Debug/net8.0/MovieFare.Test.dll
/MovieFare.Test/obj/Debug/net8.0/MovieFare.Test.genruntimeconfig.cache
/MovieFare.Test/obj/Debug/net8.0/MovieFare.Test.pdb
/MovieFare.Test/obj/Debug/net8.0/ref/MovieFare.Test.dll
/MovieFare.Test/obj/Debug/net8.0/refint/MovieFare.Test.dll
/MovieFare.Test/obj/MovieFare.Test.csproj.nuget.dgspec.json
/MovieFare.Test/obj/project.assets.json
/MovieFare.Test/obj/project.nuget.cache
/MovieFare/obj/Debug/net8.0/apphost.exe
/MovieFare/obj/Debug/net8.0/MovieFare.csproj.FileListAbsolute.txt
/MovieFare/obj/Debug/net8.0/MovieFare.dll
/MovieFare/obj/Debug/net8.0/MovieFare.genruntimeconfig.cache
/MovieFare/obj/Debug/net8.0/MovieFare.pdb
/MovieFare/obj/Debug/net8.0/refint/MovieFare.dll
/MovieFare/obj/Debug/net8.0/EndpointInfo/MovieFare.json
/MovieFare/obj/Debug/net8.0/ref/MovieFare.dll
/MovieFare/obj/MovieFare.csproj.nuget.dgspec.json
/MovieFare/obj/project.assets.json
/MovieFare/obj/project.nuget.cache
